* {
    border: none;
    border-radius: 0;
    font-weight: 700;
    /* font-family: "FiraCode Nerd Font"; */
    /* font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"'; */
    /* font-size: 14px; */
    font-family: "ComicShannsMono Nerd Font";
    font-size: 16px;
}

window#waybar {
    border-radius: 10px;
    background: transparent;
    color: #CDD6F4;
    background: #1e1e2e;
}

tooltip {
    background: #1E1E2E;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #11111b;
}

#workspaces button,
#tags button {
    padding: 5px;
    color: #6c7086;
}

#workspaces button.focused,
#tags button.focused {
    color: #a6e3a1;
}

#workspaces button.active,
#tags button.active {
    color: #a6adc8;
}


#workspaces button.urgent,
#tags button.urgent {
    color: #11111b;
    background: #eba0ac;
}

#workspaces button:hover,
#tags button:hover {
    background: #11111b;
    color: #cdd6f4;
}

#memory,
#custom-power_profile,
#custom-weather,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#cpu,
#tray,
#language,
#user,
#backlight,
#custom-spotify,
#keyboard-state,
#custom-updates,
#custom-crypto,
#disk,
#wireplumber,
#window {
    background: #1e1e2e;
    padding: 0px 15px;
    opacity: 1;
}
